<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>αBot</title>
</head>
<body>

    <h2>αBot</h2>
    <h3>Controllo movimento</h3>

    <!-- CONTROLLI DIREZIONALI -->
    <form method="post" action="/" class="controls">
        <div class="grid">
            <div></div>
            <button type="submit" name="Avanti" class="btn arrow">↑</button>
            <div></div>

            <button type="submit" name="Sinistra" class="btn arrow">←</button>
            <button type="submit" name="Stop" class="btn stop">■</button>
            <button type="submit" name="Destra" class="btn arrow">→</button>

            <div></div>
            <button type="submit" name="Indietro" class="btn arrow">↓</button>
            <div></div>
        </div>
    </form>

    <!-- MOVIMENTI SPECIALI -->
    <h3>Movimenti speciali</h3>
    <form method="post" action="/" class="specials">
        <button type="submit" name="Quadrato">◻ Quadrato</button>
        <button type="submit" name="L">L</button>
        <button type="submit" name="Triangolo">△ Triangolo</button>
    </form>

</body>
</html>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>αBot</title>
</head>
<body>
    <h2>αBot</h2>
    <h3>Bottoni</h3>
    <form method="post" action="/">
        <button type="submit" name="Avanti">Avanti</button>
        <button type="submit" name="Indietro">Indietro</button>
        <button type="submit" name="Destra">Destra</button>
        <button type="submit" name="Sinistra">Sinistra</button>
        <button type="submit" name="Stop">Stop</button>
    </form>

    
</body>
</html> -->