<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>αBot</title>
</head>
<body>
    <h2>αBot</h2>
    <h3>Bottoni</h3>
    <form method="post" action="/">
        <button type="submit" name="Avanti">Avanti</button>
        <button type="submit" name="Indietro">Indietro</button>
        <button type="submit" name="Destra">Destra</button>
        <button type="submit" name="Sinistra">Sinistra</button>
        <button type="submit" name="Stop">Stop</button>
    </form>

    
</body>
</html>